div{
    width:30%;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    background-color:teal;
    text-align:center;
    display:flex
}

div .div{
height:300px;
width:300px;
background:chocolate;
position:relative;
top:140px


}
*{
margin:0;
padding:0



