
body{background-image: url(https://fondosmil.com/fondo/69455.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: blue;
    font-kerning: auto;
    margin-top: 25px;
    margin-right: 25px; 
    margin-bottom: 25px;
}

h2{
    color: dodgerblue;
     font: oblique bold 120% cursive;
     margin-top: 25px;
     margin-right: 25px; 
     margin-bottom: 25px;
    
}

a{
    color: ghostwhite;
}