
body{background-image: url(https://images3.alphacoders.com/130/13079.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: blue;
    font-kerning: auto;
    margin-top: 25px;
    margin-right: 25px; 
    margin-bottom: 25px;
}

h2{
    color: dodgerblue;
     font: oblique bold 120% cursive;
     margin-top: 25px;
     margin-right: 25px; 
     margin-bottom: 25px;
    
}

a{
    color: ghostwhite;
}


ul{
	background:rgb(0, 0, 0);
	list-style-type: none;
	padding:0;
	margin:0;
	position:fixed;
	width:100%;
	margin-top:-47px;
	}
	
	ul li{
	display:inline-block;
	}
	
	ul li a{
	color:white;
	text-decoration: none;
	padding: 25px 25px;
	display:inline-block;
	font-size:20px;
	font-family: 'Noto Sans JP', sans-serif;
	transition: background .5s
	}
	
	ul li a:hover{
	background:rgb(61, 61, 61)
	}
	
	ul li a:active{
	background:rgb(104, 104, 104)
	}
