a
{text-decoration: none; color:rgb(201, 201, 201);
text-shadow: 0 0 15px white,0 0 15px white,0 0 15px white;
font-size: 20px;
margin:30px
}

body
{background-image: url(portada/portada.jpg54.jpg);
background-size: 100%;}



.titulo{font-family:'Rock Salt' ;
color:red;
font-size: 40px;}

.parrafo{color:white;
width:400px;
height:170px;
outline:2px solid white;
outline-offset: 15px;
position:relative;
left:40px;
font-size: 18px;
font-family: 'Wellfleet';}

a:hover{color:white}

.input{border-radius: 50px;
width:150px;
height:20px;
position:relative;
left:80px;
bottom:5px;
opacity: 0.4}










    




