.links{font-size: 20px;
background-color: rgb(80, 80, 80);
width:100%;
position:fixed;
z-index:1;
padding:0.4em
}


.links__a{
margin-left:1em;
text-decoration: none;
color:rgb(229, 255, 0);
font-family: 'Ruslan Display';
text-shadow: 0 0 10px rgb(7, 218, 0),
0 0 10px rgb(46, 197, 0);}


.links__a:hover{color:white} 


.links__a-input{
margin-left:8em;
padding:0.4em;
border-radius:3.125em;}




.titulo{font-size: 30px;
color:rgb(255, 0, 0);
position:relative;
left:4em;
top:5em;
font-family:'Ruslan Display';}


#fondo{background-image: url(fondos/ryu\ de\ portada.jpg);
background-repeat: no-repeat;
background-size:cover ;
width:100%;
height:94vh;
overflow-x: hidden;}


*{margin:0;
padding:0;
box-sizing: border-box;}

body{overflow-x: hidden;}



.parrafos{
font-size:25px;
color:white;
width:37%;
position:relative;
top:8em;
left:4.2em;
font-family: 'Ruslan Display';
font-weight: 0.3125em;}


.starflamer{color:rgb(45, 206, 255);}

#fondo2{background-image: url(fondos/scorpio.jpg);
background-repeat: no-repeat;
background-size:cover ;
width:100%;
height:94vh;
overflow-x: hidden;
font-size:20px}

.titulo2{
font-size:1.25rem;
color: rgb(0, 0, 0);
background:rgb(222, 236, 25);
display:inline-block;
border-radius:1em ;
padding:0.7;
font-family: 'Ruslan Display';
position:relative;
left:42em;
top:3em;
}

.resident{
width:23%;
position:relative;
left:42em;
top:5em;
border:3px solid rgb(211, 211, 46)}

.farcry{
width:23%;
position:relative;
left:26.3em;
top:16em;
border:2px solid rgb(255, 0, 0)}

#populares{
position:relative;
left:2.2em}

.medalla{
width:7%;
position:relative;
left:5em;
top:3em
}

.texto{color:rgb(16, 163, 16);
font-size: 17px;
position:relative;
left:37em;
top:21em;
font-family: 'Ruslan Display';
}

#fondo3{background-image:url(fondos/akuma.jpg);
background-repeat: no-repeat;
background-size:cover ;
width:100%;
height:94vh;
overflow-x: hidden;
font-size:20px;
overflow-y:hidden}

.titulo3{font-size:20px;
color: rgb(0, 0, 0);
background:rgb(0, 217, 255);
display:inline-block;
border-radius:1em ;
padding:0.7;
font-family: 'Ruslan Display';
position:relative;
left:2em;
top:3em;
}

.encabezado1{
color:white;
font-size:20px;
position:relative;
top:5em;
font-family: 'Ruslan Display';
width:52%;
left:1em}

.foton{width:20%;
font-size: 20px;
position:relative;
top:6em;
left:1em}

.parrafo4{color:white;
width:24%;
position:relative;
left:24em;
bottom:2em;
font-family:'Ruslan Display';
font-size:13px}

.encabezado2{color:white;
font-size:20px;
font-family: 'Ruslan Display';
width:50%;
position:relative;
top:3em}

.foton2{
width:21%;
position:relative;
top:4em;
left:17em;
}

.parrafo5{
color:white;
width:20%;
font-family:'Ruslan Display';
font-size:14px;
position:relative;
bottom:3em;
left:3em
}

.footer{
background-color: black;
width:100%;
height:25vh;}

.contactos1
{color:rgb(255, 255, 255);
font-family:'Ruslan Display';
position:relative;
left:0.5em;
font-size:30px;
top:1.5em;
text-align: center;
text-shadow:0 0 15px blue,
0 0 15px blue,
0 0 15px blue}



.contactos2{
position:relative;
top:6em;
text-align: center;}

.linkscont{
text-decoration: none;
color:rgb(255, 255, 255);
font-size:25px;
margin-left:50px;
font-family: 'Ruslan Display';} 