*{
    margin: 0px;
}

body{
    /*background: rgb(17, 17, 17);*/
    background-image: url(https://fondosmil.com/fondo/19467.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul li {
    float: left;
    margin: 120px;
    color: yellow;
}

a{ color:blue;}

.clearflix{
clear: both;
}

header{
    color:red;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}

p{
    color:white;
}

.lista{
    color:red;
}

h2{
    color: rgb(251, 255, 0);
}

a{
    color: yellow;
}

h3{
    color: rgb(15, 209, 209);
}

    