*{
    margin: 0px;
}

body{
    background: rgb(17, 17, 17);
}

nav ul li {
    float: left;
    margin: 50px;
    color: yellow;
}

a{ color:blue;}
.clearflix{
clear: both;
}

header{
    color:red;
    
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}

p{
    color:white;
}

h3{
    color:red;
}

h2{
    color: orange;
}

a{
    color: yellow;
}