ul{
background:rgb(58, 58, 58);
list-style-type: none;
padding:0;
margin:0;
position:fixed;
width:100%;
margin-top:-47px;
box-sizing: border-box;
}

ul li{
display:inline-block;
}

ul li a{
color:white;
text-decoration: none;
padding: 13px 13px;
display:inline-block;
font-size:20px;
font-family: 'Noto Sans JP', sans-serif;
}

ul li a:hover{
background:rgb(102, 102, 102)
}

ul li a:active{
background:rgb(145, 145, 145)
}

.fondo{
background-image:url(fondos\ index/mejoraletra.jpg);
width:100%;
height:500px;
background-size: 100% 100%;
}

.parte2{
background-color:rgb(49, 49, 49);
width:100%;
height:600px;
}

.espacio{
width:100%;
height:200px;
display:flex;
padding-top:33px
}

.juego{
width:269.9px;
height:100%;
}


*{
margin:0;
padding:0
}
body{
margin-top:40px
}