body{background:url(https://fondosmil.com/fondo/69455.jpg) no-repeat;
background-size: cover;
	background-position-x:left;
background-position-y:left; 
}
h1{
	color: rgb(88, 230, 215);



li{color: aliceblue;
}
p{color: aqua;}



img{border-radius:1cm;}
