
body{background:url(https://i.pinimg.com/originals/d6/0b/fb/d60bfb79b23c28a2b50270e2bf623ca7.jpg) no-repeat;
	background-size: cover;
    background-attachment:fixed;
	padding-left: 1em;
}




h4{color: aliceblue;
}
p{color: aqua;

}



.img-center{ position: absolute;
    left: 590px;
	transition: width .9s,height .9s
	

}

.img-center:hover{
	width:120px;
	height:100px

}



	
	
ul{
	background:rgb(0, 0, 0);
	list-style-type: none;
	padding:0;
	margin:0;
	position:fixed;
	width:80%;
	margin-top:-47px;
	}
	
	ul li{
	display:inline-block;
	}
	
	ul li a{
	color:white;
	text-decoration: none;
	padding: 25px 25px;
	display:inline-block;
	font-size:20px;
	font-family: 'Noto Sans JP', sans-serif;
	transition: background .5s
	}
	
	ul li a:hover{
	background:rgb(131, 131, 131)
	}
	
	ul li a:active{
	background:rgb(105, 105, 105)
	}


    .primeros{font-size:40px;
     font-family: 'Permanent Marker', cursive;
     color:rgb(8, 253, 253);
     text-align: center;
     text-decoration: none;
     display:inline-block}


.capitulo1{
	border-radius: 0.5cm;
	width:220px;
	height:130px;
	margin-left:10px;
	box-sizing: border-box;
	transition: width .7s,height .7s
	
}

.capitulo1{
	position: relative;
bottom: 200px;
}

	.capitulo1:hover{
	width:250px;
	height:160px
	}
		

	.capitulo2{
		border-radius: 0.5cm;
		width:220px;
		height:130px;
		margin-left:10px;
		box-sizing: border-box;
		transition: width .7s,height .7s
		
	 }
	.capitulo2{
     position: relative;
       bottom: 150px;

	 }
		.capitulo2:hover{
		width: 250px;
		height:160px
		}



		.capitulo3{
			border-radius: 0.5cm;
			width:220px;
			height:130px;
			margin-left:10px;
			box-sizing: border-box;
			transition: width .7s,height .7s
			
		 }
		.capitulo3{
            position: relative;
            bottom: 130px;
		 }
			.capitulo3:hover{
			width:250px;
			height:160px
			}

			.capitulo4{
				border-radius: 0.5cm;
				width:220px;
				height:130px;
				margin-left:10px;
				box-sizing: border-box;
				transition: width .7s,height .7s
				
			}
			.capitulo4{
              position: relative;
              bottom: 145px;
			}
				.capitulo4:hover{
				width:250px;
				height:160px
				}


				.capitulo5{
					border-radius: 0.5cm;
					width:220px;
					height:130px;
					margin-left:10px;
					box-sizing: border-box;
					transition: width .7s,height .7s
					
				}
				.capitulo5{
                 position: relative;
                  bottom: 150px;
				}
					.capitulo5:hover{
					width:250px;
					height:160px
					}

					.capitulo6{
						border-radius: 0.5cm;
						width:220px;
						height:130px;
						margin-left:10px;
						box-sizing: border-box;
						transition: width .7s,height .7s
						
					}
					.capitulo6{
                     position: relative;
                     bottom: 150px;
					}
						.capitulo6:hover{
						width:230px;
						height:150px
						}

						.capitulo7{
							border-radius: 0.5cm;
							width:220px;
							height:130px;
							margin-left:10px;
							box-sizing: border-box;
							transition: width .7s,height .7s
							
						}
						.capitulo7{
                          position:relative;
                          bottom: 150px;
						}
							.capitulo7:hover{
							width:250px;
							height:160px
							}


							.capitulo8{
								border-radius: 0.5cm;
								width:220px;
								height:130px;
								margin-left:10px;
								box-sizing: border-box;
								transition: width .7s,height .7s
								
							}
							.capitulo8{
                             position: relative;
                             bottom: 150px;
							}
								.capitulo8:hover{
								width:250px;
								height:160px
								}

								h1{ 
									font-size:38px;
									font-family:cursive;
									color:white
									
	
								}
	
									.rayas{
										width:40%;
										border-top:3px solid rgb(0, 217, 255) ;
										border-bottom:3px solid rgb(211, 45, 197);
										padding:0cm
										box-sizing:border-box;
										margin-left: 8px;
										display: inline-block;
										margin-top: 40px;
	
									}
		

									.solito-1{position: absolute;
                                     right: 40px;
                                    top: 2930px;
									}
                                    .solito-2{position:absolute;
	                                 right: 140px;
									 top: 2930px;
                                     }
									 .solito-3{position:absolute;
										right: 240px;
										top: 2930px;

									 }


									


	




